<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="reg Suite">
<groups>
		<run>
			<exclude name="functional"></exclude>
		</run>
	</groups>
  <test  name="Test">
	
    <classes>
      <class name="com.assuranceNavigationTests.MousehoverLinkTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test  name="Test1">
	
    <classes>
      <class name="com.assuranceLoginTests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
